h2 {
    display: inline;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 25px;
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(0,0,0,.87);
    font: 13px/27px Roboto,Arial,sans-serif;
    min-width: 100px;
    position: relative;

    transition: box-shadow 250ms;
}

h3 {
    font-family: arial,sans-serif;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    margin-left: 20px;
}


.head {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}

table {
    margin: 0 -20px;
    border-collapse: separate;
    padding-bottom: 10px;
    border-spacing: 50px 0;
}

td {
    width: 300px;
    text-align: left;
    border: 1px 
}

#Advanced{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    color: #d93025;
    font-size: 20px;
    margin-left: 30px;
    padding-bottom: 20px;
    font-family: arial,sans-serif;

}

hr {
    border: 0.5px solid #ebebeb;
}


.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}
  
.search-button svg {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

#small{
    margin-top: 10px;
    margin-left: 10px;
    width: 80px;
    margin-bottom: 50px;
    margin-right: 1200px;
}

.img {
    width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 210px;
    margin-bottom: 10px;
}

.button2 {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-right: 16px;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    outline: 0;
    padding: 0 8px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    padding: 0 12px;
    margin: 10px 0;
    -webkit-user-select: none;
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    margin-left: 750px;
}

.button {
    background-color: rgb(251, 251, 251);
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 40px;
    width: 150px;
    padding-left: 4px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}
  
.ml-4 {
    margin-left: 4px;  
}


.text{
    padding-left: 420px;
    
}

#googeler {
    display: block;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin-bottom: 20px;
    width: 638px;
    max-width: 584px;
    /* You can use your image but having cleaner code is better, so I suggest saving the file and just linking it*/
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z'/%3E%3C/svg%3E") ;*/
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: transparent;
    padding: 0px 7px 0px 30px;
    font-size: 16px;
}

.smaller{
    color: #222;
    font-size: 13px;
    line-height: 16px;
}

.div {
    display: flex; 
    align-items: left;
}

h7 {
    font-size: 13px;
    font-weight: 700;
    height: 30px;
    color: #777;
    font-weight: inherit;
    text-decoration: none;
    font-style: inherit;
    font-family: arial,sans-serif;
    align-content: flex-start;
    white-space: pre;
    margin-bottom: 10px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-top: 8px;
}

h6 {
    color: #666;
    font-weight: bold;
    font-family: arial,sans-serif;
    font-size: 11px;
    align-content: flex-start;
    white-space: pre;
    margin-bottom: 10px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-top: 8px;

}

h5{
    color: #666;
    font-weight: inherit;
    font-style: inherit;
    align-content: flex-start;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
    margin-bottom: 10px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    padding-left: 2px;
    padding-top: 8px;
}

.input {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    font-family: arial,sans-serif;
    width: 600px;
}
